/* @import url('https://fonts.googleapis.com/css?family=Montserrat'); */

body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

table {
    table-layout: fixed;
    empty-cells: show;
}

.table-only-header {
    margin-bottom: 0;
}

.table .empty-cell {
    padding: 16px 0;
}

thead {
    text-align: center;
}

thead .day-label {
    font-weight: normal;
    font-size: 12px;
}

a {
    color: #17a2b8;
}

.hidden {
    display: none;
    visibility: hidden;
}

.bold {
    font-weight: bold;
    font-style: italic;
}

.table th {
    background-color: #b0bec5;
    padding: 0.5;
}

.btn-arrow {
    background-color: #b0bec5;
}

.footer {
    border-top: 1px solid #ccc;
    /* opacity: 0.95; */
    color: white;
}

.asterisk {
    vertical-align: sub;
}

/* STUDENT - Login -------------------------------------------- */

.login-content {
    min-height: 750px;
    /* padding: 30px 0; */
}

.register-content {
    padding: 30px 0;
}

.login-content img,
.register-content img {
    width: 75%;
}

/* STUDENT - Calendar -------------------------------------------- */

.main-container {
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.main-container-inner {
    margin-top: 16px;
    padding: 16px;
}

.student-calendar {
    margin-bottom: 24px;
}

.student-calendar .button {
    display: block;
    background-color: white;
    width: 100%;
    height: 100%;
    border-style: none;
    border-color: white;
    padding: 16px 0;
}

.student-calendar .button:disabled:hover {
    background-color: #fff;
}

.student-calendar .button:hover {
    border: 1px solid  #fff176;
    background-color: #fff176;
}

.student-calendar .title {
    vertical-align: middle;
}

.student-day tbody {
    text-align: center;
}

.student-calendar th {
    text-align: center;
    padding: 0rem;
}

.student-calendar td {
    text-align: center;
    padding: 0rem;
}

.student-calendar .selected-empty {
    border: 1px solid black;
    background-color: white;
}

.student-calendar .selected-booked {
    border: 1px solid black;
    background-color: #81c784;
}

.student-calendar .selected-weekend {
    border: 1px solid black;
    background-color: #ffebee;
}

.student-calendar .normal {
    border: 1px solid white;
    background-color: white;
}

.student-calendar .booked {
    border: 1px solid #81c784;
    background-color: #81c784;
}

.student-calendar .weekend {
    border: 1px solid #ffebee;
    background-color: #ffebee;
}

.student-calendar .today {
    background-color: #eee;
}

.student-calendar .weekend {
    background-color: #ffebee;
}

.student-calendar .booked,
.student-day .booked {
    background-color: #81c784;
}

.student-day .available,
.student-day .non-selected {
    background-color: #fff;
}

.student-day td {
    text-align: center;
    vertical-align: middle;
    padding: 0rem;
}

.student-day .button {
    display: block;
    width: 100%;
    height: 100%;
    border-style: none;
    border-color: white;
    padding: 16px 0;
}

.student-day .button:hover {
    background-color: #fff176;
}

.student-day .selected {
    background-color: #fdd835;
}

/* ADMIN - Students -------------------------------------------- */

.spinner {
    margin-bottom: 2rem;
}

.pagination {
    margin: 16px;
}

.pagination .page-link {
    color: #17a2b8;
}

.pagination .active .page-link {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.page-item:last-child .page-link {
    border-radius: 0;
}

.top-buffer {
    margin-top: 32px;
}

.table-selectable td {
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

.table-selectable input {
    display: block;
    background-color: white;
    width: 100%;
    height: 100%;
    border-style: none;
    border-color: white;
    padding: 1rem;
    text-align: left;
}

.table-selectable input:hover {
    background-color: #fff176;
}

.table-selectable .empty {
    padding: 1rem;
    visibility: hidden;
}

.table-selectable .no-found-text {
    padding: .75rem;
}

.table-selectable form {
    margin: 0;
}

.table-selectable .selected {
    background-color: #fdd835;
}

/* .submit-clean {
    display: block;
    background-color: white;
    width: 100%;
    height: 100%;
    border-style: none;
    border-color: white;
    padding: 0;
}

.submit-clean:hover {
    background-color: #fff176;
} */



/* ADMIN - Planning -------------------------------------------- */

/* .row.spinner {
    margin-right: 0;
    margin-left: 0;
} */

.admin-calendar .button {
    display: block;
    background-color: white;
    width: 100%;
    height: 100%;
    border-style: none;
    border-color: white;
    padding: 8px 0;
}

.admin-calendar .button:hover {
    background-color: #ffee58;
}

.admin-calendar .button:disabled:hover {
    background-color: #fff;
}

.admin-calendar .title {
    vertical-align: middle;
}

.admin-day tbody {
    text-align: center;
}

.admin-calendar th {
    text-align: center;
    padding: 0rem;
}

.admin-calendar td {
    text-align: center;
    padding: 0rem;
}

.admin-calendar .selected {
    background-color: #fdd835;
}

.admin-calendar .today {
    background-color: #ddd;
}

.admin-calendar .weekend {
    background-color: #ffebee;
}

.admin-calendar .student-color {
    background-color: #ce93d8;    /* purple */
}

.admin-calendar .admin-color {
    background-color: #81c784;
}

.admin-calendar .disabled {
    background-color: #fff;
}

.admin-calendar .free,
.admin-calendar .free-disabled,
.admin-calendar .free-mini {
    background-color: #81c784;
}

.admin-calendar .taken,
.admin-calendar .taken-disabled,
.admin-calendar .taken-mini {
    background-color: #e57373;
}

.admin-calendar .free-disabled:hover {
    background-color: #81c784;
}

.admin-calendar .taken-disabled:hover {
    background-color: #e57373;
}

.admin-calendar .free-empty,
.admin-calendar .taken-empty {
    background-color: #f5f5f5;
    color: #f5f5f5;
}

.admin-calendar .free-empty,
.admin-calendar .free-mini {
    border-bottom: 1px solid #e0e0e0;
}

/* MEDIA QUERIES --------------------------------------------- */

* {
    font-size: 11px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    * {
        font-size: 12px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    * {
        font-size: 14px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    * {
        font-size: 16px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    * {
        font-size: 18px;
    }
}
